h1 {
    text-align: center;
    font-size: 3rem;
}

img {
    width: 400px;
}

.definition {
    width: 400px;
    text-align: justify;
}

.media {
    float: right;
}

tr {
    text-align: center;
}